<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <title>Album</title>
    
  
  </head>
  <body>

<div >



	<h1><FONT COLOR=blue FACE="Comic Sans MS">Informazioni sull' album:</FONT><br></h1>
	<h4>
		Nome : <span th:text="${album.nome}"></span>
	</h4>
	<div>
		<h4>Foto :</h4>
		<ul>
			<li th:each="fotografia: ${album.fotografie}">
			<img src="${fotografia.URLfoto}" alt="${fotografia.descrizione}">
			</li>
		</ul>
		<h4>Fotografi che hanno partecipato :</h4>
		<ul>
			<li th:each="fotografo: ${album.fotografi}">
			<a th:href="@{'/fotografo' + '/' +${fotografo.id}}"
			th:text="${fotografo.nome}"> paolo</a>
			</li>
		</ul>
	</div>
	<div>
	<a href="/toSito">ritorna al sito</a>
	</div>
	
	</div>
</body>
</html>