<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Album</title>
<link rel="stylesheet" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
</head>
<body>
	<div class="header">
		<h2 class="logo">SILPH SPA</h2>
		<input type="checkbox" id="chk"> <label for="chk"
			class="show-menu-btn"> <i class="fas fa-ellipsis-h"></i>
		</label>
	</div>
	<h1>Informazioni sull album :</h1>
	<h4>
		Nome : <span th:text="${album.nome}"></span>
	</h4>
	<div>
		<h4>Foto :</h4>
		<ul>
			<li th:each="fotografia: ${album.fotografie}">
			<img src="${fotografia.URLfoto}" alt="${fotografia.descrizione}">
			</li>
		</ul>
		<h4>Fotografi che hanno partecipato :</h4>
		<ul>
			<li th:each="fotografo: ${album.fotografi}">
			<a th:href="@{'/fotografo' + '/' +${fotografo.id}}"
			th:text="${fotografo.nome}"> paolo</a>
			</li>
		</ul>
	</div>
	<div>
	<a href="/toSito">ritorna al sito</a>
	</div>
</body>
</html>