<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>form album</title>
</head>
<body>
	<div>
		<h4>Inserisci i dati di un album</h4>
	</div>
	<form th:action="@{/album}" method="POST" th:object="${album}">
		<p>Nome:</p>
		<p>
			<input type="text" th:field="*{nome}" />
		</p>
		<p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>
		<div>
			<ul>
				<li th:each="fotografia : ${fotografie}"><input type="radio"
					name="fotografie" value="fotografia.id">${fotografia.nome}</li>
			</ul>
		</div>
		<div>
			<ul>
				<li th:each="fotografo : ${fotografi}"><input type="radio"
					name="fotografi" value="fotografo.id">${fotografo.nome} ${fotografo.cognome}</li>
			</ul>
		</div>
		<p>
			<button type="submit">Invio</button>
		</p>
	</form>
</body>
</html>