<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <title>Album</title>
    <style>
head {
	display: block;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	color: white;
	height: 100px;
	text-align: center;
	background: #34495e;
	
}


</style>
    
  
  </head>
  <body>

<div >


<br>

	<h1>Informazioni sull' album:</h1>
	<table>
	<tr>
	<td>
		<b>Nome :</b> <span th:text="${album.nome}"></span>
	</td>
	<td>	
<tr>
<td>
		<h4>Fotografi che hanno partecipato :</h4>
		<ul>
			<li th:each="fotografo: ${album.fotografi}">
			<a th:href="@{'/fotografo' + '/' +${fotografo?.id}}"
			th:text="${fotografo?.nome}">fotografo</a>
			</li>
		</ul>
		
		<h4>Fotografie dell'album :</h4>
		<ul>
			<li th:each="fotografia : ${album.fotografie}">
			<img th:src="${fotografia?.URLfoto}" alt="${fotografia?.descrizione}">
			</li>
		</ul>
	</td>
	</tr>
	<tr>
	<td>
	<a href="/toSito">ritorna al sito</a>
	</td>
	</tr>
	</table>
	</div>
</body>
</html>