<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>ALbum Form</title>
<link rel="stylesheet" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
</head>
<body>
	<div class="header">
		<h2 class="logo">SILPH SPA</h2>
		<input type="checkbox" id="chk"> <label for="chk"
			class="show-menu-btn"> <i class="fas fa-ellipsis-h"></i>
		</label>
	</div>

	<div class="content">
		<h1><FONT COLOR=blue FACE="Comic Sans MS">Inserisci i dati di un album</FONT><br></h1>
	
	<form th:action="@{/album}" method="POST" th:object="${album}">
		<p>Nome:</p>
		<p>
			<input type="text" th:field="*{nome}" />
		</p>
		<p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>

		
			<h1>Seleziona i fotografi conosciuti dal sito:</h1>
			<ul>
				<li th:each="fotografo : ${fotografi}"><input type="checkbox"
					name="fotografiScelti" value="fotografo.id"> <span
					th:text="${fotografo.nome}"> nome fotografo</span> <span
					th:text="${fotografo.cognome}"> cognome fotografo</span></li>
			</ul>
		
		
		
			<h1>Seleziona le foto caricate sul sito:</h1>
		

		<ul>
			<li th:each="fotografia : ${fotografie}"><input type="checkbox"
				name="fotografieScelte" value="fotografia.id"> <span
				th:text="${fotografia.nome}"> nome fotograia</span></li>
		</ul>
		
		<p>
			<button type="submit">Invio</button>
		</p>
		
	</form>
	</div>
</body>
</html>