<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Fotografia</title>
<style>
head {
	display: block;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	color: white;
	height: 100px;
	text-align: center;
	background: #34495e;
	
	
}


</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>

	

	<h1>Informazioni sulla fotografia :</h1>
	
	<br>
	<table>
		<tr>
			<td>Nome : <span th:text="${fotografia.nome}"></span>
			</td>
		
		
			<td>Descrizione : <span th:text="${fotografia.descrizione}"></span>
			</td>
		</tr>
		
		<tr>
			<td><img th:src="${fotografia.URLfoto}"
				style="width: 104px; height: 142px;">
			</td>
		</tr>
		<tr>
			<td>Fotografo : <a
				th:href="@{'/fotografo' + '/' +${fotografia?.fotografo?.id}}"
				th:text="${fotografia?.fotografo?.nome}"> fotografo</a>

			</td>
		<tr>
			<td>Album : <a
				th:href="@{'/album' + '/' +${fotografia?.album?.id}}"
				th:text="${fotografia?.album?.nome}"> album</a>

			</td>
		</tr>
	</table>
	<div>
		<a href="/toSito">ritorna al sito</a>
	</div>
</body>
</html>