<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Form Fotografia</title>
<link rel="stylesheet" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
</head>
<body>

	<div class="header">
		<h2 class="logo">SILPH SPA</h2>
		<input type="checkbox" id="chk"> <label for="chk"
			class="show-menu-btn"> <i class="fas fa-ellipsis-h"></i>
		</label>
				 <ul class="menu">
  <a href="/toSito">Home</a>
      <a href="/gallery">Galleria</a>
       <a href="/allFotografi">Fotografi</a>
       <a href="/allAlbum">Album</a>
       <a href="logout">Logout</a>
      <a href="/welcome">Servizi</a>
       <a href="/roma3">Contatti</a>
      
      
     
      <label for="chk" class="hide-menu-btn">
        <i class="fas fa-times"></i>
      </label>
    </ul>
    
    
    
    
    
    
	</div>
	<br>
	<br>
	<br>
	<div class="content">
		<h1><FONT COLOR=blue FACE="Comic Sans MS">Inserisci i dati di una fotografia</FONT><br></h1>
	<br>
	<form th:action="@{/fotografia}" method="POST" th:object="${fotografia}">
		<table>
		<tr>
		<td>Nome :</td>
		<td>
			<input type="text" th:field="*{nome}" />
		</td>
		<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></td>
		</tr>
		<tr>
		<td>Descrizione :</td>
		<td>
			<input type="text" th:field="*{descrizione}" />
		</td>
		</tr>
		<tr>
		<td>Indirizzo foto (Non inserire URL con piu' di 255 caratteri) :</td>
		
		<td>
			<input type="text" th:field="*{URLfoto}" />
		</td>
		<td th:if="${#fields.hasErrors('URLfoto')}" th:errors="*{URLfoto}"></td>
		</tr>
		</table>
		<br>
		<h4>Seleziona il fotografo autore della foto:</h4>
			<ul>
				<li th:each="fotografo : ${fotografi}"><input type="radio"
					th:name="fotografoScelto" th:value="${fotografo.id}"> <span
					th:text="${fotografo.nome}"> nome fotografo</span> <span
					th:text="${fotografo.cognome}"> cognome fotografo</span></li>
			</ul>
			<br> <br>
			<h4>Seleziona l'album relativo alla fotografia:</h4>
			<ul>
				<li th:each="album : ${albums}"><input type="radio"
					th:name="albumScelto" th:value="${album.id}"> <span
					th:text="${album.nome}"> nome album</span>
					</li>
			</ul>
<br>
<br>
		<p>
			<button type="submit">Invio</button>
		</p>


	</form>
	</div>
</body>
</html>