<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Fotografie</title>
<link rel="stylesheet" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
</head>
<body>

	<div class="header">
		<h2 class="logo">SILPH SPA</h2>
		<input type="checkbox" id="chk"> <label for="chk"
			class="show-menu-btn"> <i class="fas fa-ellipsis-h"></i>
		</label>
			 <ul class="menu">
      <a href="/toSito">Home</a>
        
      
      <a href="/welcome">Servizi</a>
       <a href="/roma3">Contatti</a>
      
     
      <label for="chk" class="hide-menu-btn">
        <i class="fas fa-times"></i>
      </label>
    </ul>
	</div>
	<div>
	<h3>Segue la lista delle fotografie presenti sul sito</h3>
	<h3>cliccare sulle fotografie per maggiori informazioni</h3>
	<ul>
		<li th:each="fotografia : ${fotografie}"><a
			th:href="@{'/fotografia' + '/' +${fotografia.id}}" th:text="${fotografia.nome}">
				fotografia</a></li>
	</ul>
	</div>
</body>
</html>