<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Fotografo</title>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
head {
	display: block;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	color: white;
	height: 100px;
	text-align: center;
	background: #34495e;
	
}


</style>
</head>


<body>



	<h1>Informazioni sul fotografo :</h1>
	<h4>
		Nome : <span th:text="${fotografo.nome}"></span>
	</h4>
	<h4>
		Cognome : <span th:text="${fotografo.cognome}"></span>
	</h4>
	<div>
		<h4>Fotografie :</h4>
		<ul>
			<li th:each="fotografia: ${fotografo.fotografie}"><img
				th:src="${fotografia.URLfoto}" alt="${fotografia.descrizione}"
				style="width:104px;height:142px;"></li>
		</ul>
		<h4>Album in cui ha partecipato :</h4>
		<ul>
			<li th:each="album: ${fotografo.albums}"><a
				th:href="@{'/album' + '/' +${album.id}}"
				th:text="${album.nome}"> nome album</a></li>
		</ul>
	</div>
	<div>
		<a href="/toSito">ritorna al sito</a>
	</div>
</body>
</html>