<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Form Fotografo</title>
<link rel="stylesheet" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
</head>
<div class="header">
		<h2 class="logo">SILPH SPA</h2>
		<input type="checkbox" id="chk"> <label for="chk"
			class="show-menu-btn"> <i class="fas fa-ellipsis-h"></i>
		</label>
	</div>
	
<div class="content">
<h4>Inserisci i dati di un fotografo</h4>
	</div>
	<form th:action="@{/fotografo}" method="post" th:object="${fotografo}">
		<p>Nome :</p>
		<p>
			<input type="text" th:field="*{nome}" />
		</p>
		<p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>
		<p>Cognome :</p>
		<p>
			<input type="text" th:field="*{cognome}" />
		</p>
		<p th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></p>
		
	<div>
		<h4>Seleziona le fotografie del fotografo :</h4>
		<ul>
			<li th:each="fotografia : ${fotografie}"><input type="checkbox"
				name="fotografieScelte" value="fotografia.id"> <span
					th:text="${fotografia.nome}"> nome fotografia</span>
				</li>
		</ul>
		</div>
		<br>
		<br>
		<div>
		<h4>Seleziona gli album del fotografo:</h4>
	</div>
	
		<ul>
			<li th:each="album : ${albums}"><input type="checkbox"
				name="albumsScelti" value="album.id"> <span
					th:text="${album.nome}"> nome album</span></li>
		</ul>
		<p>
			<button type="submit">Invio</button>
		</p>
	</form>
</body>
</html>	


