
<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
	<head>
		<title> Image Gallery Design</title>
			<link rel="stylesheet" type ="text/css" href="css/styleGallery.css">
			<link rel="stylesheet" type="text/css" href="css/lightbox.min.css">
			<script type="text/javascript" src="js/lightbox-plus-jquery.min.js">
			</script>
			   <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    
		<body>
		<div class="header">
    <h2 class="logo">SILPH SPA</h2>
    <input type="checkbox" id="chk">
    <label for="chk" class="show-menu-btn">
      <i class="fas fa-ellipsis-h"></i>
    </label>
    <ul class="menu">
      <a href="/toSito">Home</a>
      <a href="/gallery">Gallery</a>
      <a href="/welcome">Services</a>
          
      <a href="/roma3">Contact</a>
      <label for="chk" class="hide-menu-btn">
        <i class="fas fa-times"></i>
      </label>
    </ul>
    </div>
  
			<h1> Image Gallery </h1>

			<div class="gallery">
			<a href="images/a.jpg" data-lightbox="mygallery" data-title="this is me"><img src="images/a.jpg"></a>
			<a href="images/b.jpg" data-lightbox="mygallery"><img src="images/b.jpg"></a>
			<a href="images/c.jpg" data-lightbox="mygallery"><img src="images/c.jpg"></a>
			<a href="images/d.jpg" data-lightbox="mygallery"><img src="images/d.jpg"></a>
			<a href="images/e.jpg" data-lightbox="mygallery"><img src="images/e.jpg"></a>
			<a href="images/f.jpg" data-lightbox="mygallery"><img src="images/f.jpg"></a>
			<a href="images/g.jpg" data-lightbox="mygallery"><img src="images/g.jpg"></a>
			<a href="images/h.jpg" data-lightbox="mygallery"><img src="images/h.jpg"></a>
			<a href="images/i.jpg" data-lightbox="mygallery"><img src="images/i.jpg"></a>
			<a href="images/l.jpg" data-lightbox="mygallery"><img src="images/l.jpg"></a>
			
			</div>

		</body>



</html>