<!DOCTYPE html>
<htmL xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Reindirizzamento funzionario Silph</title>

</head>
<h4>Ciao Funzionario, Scegli una delle seguenti operazioni:
</h4>
<body>
<div> <a href="/toSito">Visita il sito</a>
</div>
<div> <a href="/inserimentoDati">Inserisci dati Silph.Spa</a>
</div>
<div> <a href="/visualizzaRichieste"> Visualizza le richieste di utilizzo da parte degli utenti</a>
</div>

</body>
</html>