<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <title>Richiesta Di utilizzo</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
  </head>
  <body>

  <div class="header">
    <h2 class="logo">SILPH SPA</h2>
    <input type="checkbox" id="chk">
    <label for="chk" class="show-menu-btn">
      <i class="fas fa-ellipsis-h"></i>
    </label>
    </div>
	<h1>Informazioni su richiesta di utilizzo:</h1>
	<div>
		Nome Utente: <span th:text="${richiestaFoto.nomeUtente}">qui va
			il nome utente</span>
	</div>
	<div>
		email Utente: <span th:text="${richiestaFoto.email}"> qui va l'email utente</span>
	</div>
	<div>
		numero telefonico utente: <span th:text="${richiestaFoto.numero_telefonico}"> qui va il numero
		 telefonico dell'utente</span>
	</div>
	<div>
		Descrizione Richiesta: <span th:text="${richiestaFoto.descrizione}">qui va la 
		descrizione della richiesta</span>
	</div>
	
	
	<div>
		<h4>Foto richieste:</h4>
		<ul>
			<li th:each="fotografia: ${richiestaFoto.fotografie}">
			<img src="${fotografia.URLfoto}" alt="${fotografia.descrizione}">
			</li>
		</ul>
	</div>
	<div>
	<a href="/toSito">ritorna al sito</a>
	</div>
</body>
</html>

