<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Inserimento dati SILPH</title>
<link rel="stylesheet" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
</head>
<body>

	<div class="header">
		<h2 class="logo">SILPH SPA</h2>
		<input type="checkbox" id="chk"> <label for="chk"
			class="show-menu-btn"> <i class="fas fa-ellipsis-h"></i>
		</label>
	</div>
	<!-- questo sotto serve per vedere se si è amministratori in quel momento -->
	<h3 th:if="${role} == 'ADMIN'">
    <a href="/admin">Visit the admin page</a>
</h3>
	
<body>
	<h4>Che dati vuoi Inserire?</h4>
	<div>
		Inserimento nuovo album:
		<form  action="/admin/addAlbum" method="POST">
			<button type="submit">Invio</button>
		</form>
		Inserimento nuova fotografia:
		<form action="/addFotografia" method="POST">
			<button type="submit">Invio</button>
		</form>
		Inserimento nuovo fotografo:
		<form action="/addFotografo" method="POST">
			<button type="submit">Invio</button>
		</form>
	</div>
</body>
</html>