<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Inserimento Dati Silph</title>
</head>
<body>
<h4>Che dati vuoi Gestire?</h4>
<div>
<form action="/operazioniFunzionario" method="post">

<input type="radio" name="operazione" value="Album">Gestisci gli album
<br>
<input type="radio" name="operazione" value="Fotografia">Gestici le fotografie
<br>
<input type="radio" name="operazione" value="Fotografo">Gestisci i fotografi
<br><br>
<input type="submit" value="invia">
</form>
</div>
</body>
</html>