<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Inserimento Dati Silph</title>
</head>
<body>
	<h4>Che dati vuoi Inserire?</h4>
	<div>
		Inserimento nuovo album:
		<form action="/addAlbum" method="POST">
			<button type="submit">Invio</button>
		</form>
		Inserimento nuova fotografia:
		<form action="/addFotografia" method="POST">
			<button type="submit">Invio</button>
		</form>
		Inserimento nuovo fotografo:
		<form action="/addFotografo" method="POST">
			<button type="submit">Invio</button>
		</form>
	</div>
</body>
</html>